@import '@template/css/mixins/media.scss';
@import '@template/css/mixins/effects.scss';

.roles {
  display: flex;
  flex-direction: column;

  @include media(md) {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 128px;
    padding-bottom: 137px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  @include media(l) {
    max-width: unset;
  }

  &__nav {
    order: 1;

    @include media(md) {
      flex-basis: 262px;
      order: 0;
    }
  }

  &__slider {
    position: relative;
    @include media(md) {
      width: 582px;
      order: 0;
    }
  }

  &__nav-button {
    position: absolute;
    z-index: 2;
    top: 50%;
    width: 48px;
    height: 48px;

    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

    @include defaultInteractionEffect;
  }

  &__nav-button_prev {
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='48' viewBox='0 0 50 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M32.7731 8.93934C33.3719 9.52513 33.3719 10.4749 32.7731 11.0607L19.5463 24L32.7731 36.9393C33.3719 37.5251 33.3719 38.4749 32.7731 39.0607C32.1743 39.6464 31.2034 39.6464 30.6046 39.0607L16.2936 25.0607C15.6948 24.4749 15.6948 23.5251 16.2936 22.9393L30.6046 8.93934C31.2034 8.35355 32.1743 8.35355 32.7731 8.93934Z' fill='white'/%3E%3C/svg%3E%0A");

    
    @include media(sm) {
      background-image: url("data:image/svg+xml,%3Csvg width='72' height='72' viewBox='0 0 72 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M48.091 58.591C48.9697 57.7123 48.9697 56.2877 48.091 55.409L28.682 36L48.091 16.591C48.9697 15.7123 48.9697 14.2877 48.091 13.409C47.2123 12.5303 45.7877 12.5303 44.909 13.409L23.909 34.409C23.0303 35.2877 23.0303 36.7123 23.909 37.591L44.909 58.591C45.7877 59.4697 47.2123 59.4697 48.091 58.591Z' fill='%2354CEEC'/%3E%3C/svg%3E%0A");
    }
  }

  &__nav-button_next {
    right: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='48' viewBox='0 0 50 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.2269 39.0607C16.6281 38.4749 16.6281 37.5251 17.2269 36.9393L30.4537 24L17.2269 11.0607C16.6281 10.4749 16.6281 9.52513 17.2269 8.93934C17.8257 8.35355 18.7966 8.35355 19.3954 8.93934L33.7064 22.9393C34.3052 23.5251 34.3052 24.4749 33.7064 25.0607L19.3954 39.0607C18.7966 39.6464 17.8257 39.6464 17.2269 39.0607Z' fill='white'/%3E%3C/svg%3E%0A");

    @include media(sm) {
      background-image: url("data:image/svg+xml,%3Csvg width='72' height='72' viewBox='0 0 72 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.909 58.591C23.0303 57.7123 23.0303 56.2877 23.909 55.409L43.318 36L23.909 16.591C23.0303 15.7123 23.0303 14.2877 23.909 13.409C24.7877 12.5303 26.2123 12.5303 27.091 13.409L48.091 34.409C48.9697 35.2877 48.9697 36.7123 48.091 37.591L27.091 58.591C26.2123 59.4697 24.7877 59.4697 23.909 58.591Z' fill='%2354CEEC'/%3E%3C/svg%3E%0A");
    }
  }

  &__slide {
    display: flex;
    align-items: center;
    max-width: 170px;
    height: 48px!important;

    &:first-child {
      max-width: 220px!important;
    }

    @include media(l) {
      cursor: pointer;
    }
  }

  &__slide span {
    pointer-events: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    
    color: #828282;

    @include media(l) {
      font-size: 20px;
      line-height: 23px;
    }
  }

  &__slide.swiper-slide-thumb-active {
    max-width: 300px;
  }

  &__slide.swiper-slide-thumb-active span {
    display: inline;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    background: linear-gradient(89.18deg, #FF3D00 0.7%, #FFB800 99.3%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  &__card {
    position: relative;
    min-height: 500px;
    max-width: 424px;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='428' height='493' viewBox='0 0 428 493' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_219_1343)'%3E%3Cg filter='url(%23filter0_b_219_1343)'%3E%3Cpath d='M4.98512 47.1397C2.37914 22.4974 22.577 1.43843 47.3066 3.01402L388.46 24.7497C410.358 26.1449 427.044 44.9208 425.858 66.8312L407.123 412.87C406.083 432.073 391.527 447.818 372.465 450.358L92.8789 487.611C70.5601 490.585 50.1855 474.559 47.8176 452.168L4.98512 47.1397Z' fill='url(%23paint0_linear_219_1343)' fill-opacity='0.48'/%3E%3Cpath d='M4.98512 47.1397C2.37914 22.4974 22.577 1.43843 47.3066 3.01402L388.46 24.7497C410.358 26.1449 427.044 44.9208 425.858 66.8312L407.123 412.87C406.083 432.073 391.527 447.818 372.465 450.358L92.8789 487.611C70.5601 490.585 50.1855 474.559 47.8176 452.168L4.98512 47.1397Z' fill='url(%23paint1_radial_219_1343)' fill-opacity='0.4'/%3E%3Cpath d='M47.2113 4.51098L388.365 26.2467C409.441 27.5895 425.502 45.6613 424.36 66.7502L405.625 412.789C404.625 431.272 390.614 446.426 372.266 448.871L92.6807 486.124C71.199 488.986 51.5884 473.562 49.3093 452.01L6.4768 46.982C3.96855 23.2637 23.409 2.99448 47.2113 4.51098Z' stroke='url(%23paint2_linear_219_1343)' stroke-opacity='0.24' stroke-width='3'/%3E%3Cpath d='M47.2113 4.51098L388.365 26.2467C409.441 27.5895 425.502 45.6613 424.36 66.7502L405.625 412.789C404.625 431.272 390.614 446.426 372.266 448.871L92.6807 486.124C71.199 488.986 51.5884 473.562 49.3093 452.01L6.4768 46.982C3.96855 23.2637 23.409 2.99448 47.2113 4.51098Z' stroke='url(%23paint3_linear_219_1343)' stroke-width='3'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_b_219_1343' x='-11.2417' y='-13.0691' width='453.159' height='517.035' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImage' stdDeviation='8'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_219_1343'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur_219_1343' result='shape'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_219_1343' x1='15.6416' y1='27.269' x2='515.217' y2='186.661' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2354CEEC'/%3E%3Cstop offset='1' stop-color='%23599CF6'/%3E%3C/linearGradient%3E%3CradialGradient id='paint1_radial_219_1343' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(365.316 70.5347) rotate(128.764) scale(245.899 262.14)'%3E%3Cstop stop-color='white'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0'/%3E%3C/radialGradient%3E%3ClinearGradient id='paint2_linear_219_1343' x1='15.6416' y1='27.269' x2='515.217' y2='186.661' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2354CEEC'/%3E%3Cstop offset='1' stop-color='%23599CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear_219_1343' x1='428' y1='27.7244' x2='105.758' y2='523.354' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.0989583' stop-color='white'/%3E%3Cstop offset='0.286458' stop-color='white' stop-opacity='0.3'/%3E%3Cstop offset='0.635417' stop-color='white' stop-opacity='0.34104'/%3E%3Cstop offset='0.84375' stop-color='white'/%3E%3Cstop offset='0.911458' stop-color='white' stop-opacity='0.0982659'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0'/%3E%3C/linearGradient%3E%3CclipPath id='clip0_219_1343'%3E%3Crect width='428' height='493' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");

    @include media(l) {
      max-width: 524px;
      height: 600px;
    }
  }

  &__card-content {
    padding: 56px;

    @include media(l) {
      padding: 64px;
    }
  }

  &__card-content ul {
    margin: 0 0 40px;
    padding: 0;
    list-style: none;
  }

  &__card-content li {
    position: relative;
    padding-left: 30px;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;

    @include media(sm) {
      font-size: 20px;
      line-height: 23px;
    }

    @include media(l) {
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__card-content li::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 16px;
    display: block;
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 50%;
  }

  &__card-content li + li {
    margin-top: 16px;
  }

  &__card-label {
    display: block;
    max-width: 166px;
    padding-left: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;

    @include media(l) {
      font-size: 20px;
      line-height: 23px;
    }
  }

  &__card-icon {
    position: absolute;
    width: 150px;
    height: 150px;
    bottom: 32px;
    right: 0;

    @include media(l) {
      width: 280px;
      height: 280px;

      transform: translateY(80px);
    }

    svg {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    order: 2;
    margin-top: 48px;

    @include media(md) {
      flex-basis: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 64px;
      order: 0;
    }

    span {
      font-weight: 300;
      font-size: 20px;
      line-height: 23px;
      text-align: center;

      color: #828282;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      width: 100%;
      height: 64px;
      margin-top: 24px;

      background: linear-gradient(71.65deg, #599CF6 13.48%, #5924F1 89.09%);
      border-radius: 32px;

      font-weight: 700;
      font-size: 24px;
      line-height: 28px;

      color: #FFFFFF;

      @include media(sm) {
        width: 206px;
        margin: 24px auto 0;
      }
      @include media(md) {
        margin: 0 0 0 24px;
      }
    }
  }
}
