<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <title>Главная</title>
    <script defer src="assets/js/vendors/vendors.js"></script>
    <script defer src="assets/js/template.styles/template.styles.js"></script>
    <script defer src="assets/js/template.scripts/template.scripts.js"></script>
    <link href="assets/css/vendors/vendors.css" rel="stylesheet">
    <link href="assets/css/template.styles/template.styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="modal modal_bg_transparent" data-entity="modal-request">
      <div class="modal__container">
        <div class="modal__box">
          <div class="modal__frame" data-entity="modal-content"> <button class="modal__close" type="button"
              data-action="close-modal"> <a href="/"> <span class="icon icon_close"></span> </a> </button>
            <div class="modal__frame" data-entity="modal-message">
              <div class="modal__message">
                <div class="modal__pic-box">
                  <div class="modal__pic"></div>
                </div>
                <div class="modal__title">Вы получите персональное приглашение на тестовую версию приложения</div><a
                  href="/" class="header__button"><span>Хорошо</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
