@import '@template/css/mixins/media.scss';
@import '@template/css/mixins/effects.scss';

.security {
  width: 100%;

  &__container {
    @include media(md) {
      display: flex;
      align-items: center;
    }
  }

  &__pic {
    flex-shrink: 0;
    width: 100%;
    height: 350px;
    margin-bottom: 80px;
    background-image: url(../../assets/media/secutity.png);
    background-size: 100%;
    background-repeat: no-repeat;

    @include media(sm) {
      height: 500px;
      background-position: center;
      background-size: auto 100%;
    }

    @include media(md) {
      width: 50%;
      height: 490px;
    }
  }

  &__desc {
    @include media(md) {
      margin-left: 80px;
    }
  }

  &__desc h2 {
    margin: 0 0 48px;
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;

    text-transform: uppercase;

    color: #FFFFFF;

    @include media(sm) {
      font-size: 36px;
      line-height: 42px;
    }

    @include media(md) {
      font-size: 40px;
      line-height: 47px;
    }

    @include media(l) {
      font-size: 48px;
      line-height: 56px;
    }
  }

  &__icon {
    padding: 40px 40px 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center bottom 8px;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.9646 3.3335C23.9106 3.3335 27.3977 5.7703 28.6848 9.37995C28.8202 9.74439 28.7864 10.142 28.617 10.4898C28.4477 10.8377 28.1445 11.1028 27.7702 11.2204C27.0081 11.4838 26.1614 11.0879 25.8734 10.3258C25.0097 7.87248 22.6404 6.23248 19.9985 6.23248C16.5419 6.23248 13.7492 8.9509 13.7306 12.2789V14.5153L13.7103 14.5186H27.0522C30.9812 14.5186 34.1668 17.6346 34.1668 21.4778V29.7076C34.1668 33.5508 30.9812 36.6668 27.0522 36.6668H12.9465C9.01909 36.6668 5.8335 33.5508 5.8335 29.7076V21.4778C5.8335 18.3171 8.00126 15.6782 10.9514 14.83L10.7668 14.8516V12.3121C10.8007 7.3606 14.9178 3.3335 19.9646 3.3335ZM19.9917 22.3044C19.1788 22.3044 18.5183 22.9505 18.5183 23.7456V27.4232C18.5183 28.2349 19.1788 28.881 19.9917 28.881C20.8215 28.881 21.482 28.2349 21.482 27.4232V23.7456C21.482 22.9505 20.8215 22.3044 19.9917 22.3044Z' fill='white'/%3E%3C/svg%3E%0A");
  }

  &__desc p {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;

    color: rgba(255, 255, 255, 0.8);

    @include media(l) {
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__desc a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    width: 100%;
    height: 64px;
    border-radius: 32px;
    background: #fff;
    border: none;
    color: #599CF6;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    @include media(sm) {
      width: 263px;
    }

    @include defaultInteractionEffect;
  }
}
