doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    block title
  body
    header.header
      .header__container 
        .header__inner
          .header__logo  
            img.header__logo-img(src="../assets/media/temp/logo.svg", alt="") 
          a(href="#download").header__button  
            span  Скачать


    block body  
