doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block title
  body
    block body
    section.intro
      .container 
        .intro__inner 
          .intro__main 
            h2.intro__title Приложение городских сервисов
            .intro__desc 
              p.intro__text Мобильное приложение, которое объединяет в себе все городские <br> <span>сервисы</span>,  <span>места</span> и <span>события</span>
            a(href="#").button.intro__button
              span Скачать          
          .intro__img-wrapper 
            img.intro__img(src="../assets/media/temp/intro-main.png", alt="")