extends /template/pug/layouts/main.pug

include /template/pug/meta/header.pug
include /template/pug/meta/footer.pug

include /utils/pug/img.pug

block title
  title Главная

block body
  .pagination(data-entity="navbar")
    .pagination__items
      .pagination__item
        button.pagination__button(type="button" data-entity="navbar-button")
        span.pagination__label 01
      .pagination__item
        button.pagination__button(type="button" data-entity="navbar-button")
        span.pagination__label 02
      .pagination__item
        button.pagination__button(type="button" data-entity="navbar-button")
        span.pagination__label 03
      .pagination__item
        button.pagination__button.pagination__button_active(type="button" data-entity="navbar-button")
        span.pagination__label 04
      .pagination__item
        button.pagination__button(type="button" data-entity="navbar-button")
        span.pagination__label 05
      .pagination__item
        button.pagination__button(type="button" data-entity="navbar-button")
        span.pagination__label 06                        

  section.frame(data-entity="frame" data-page-index="2")
    .frame__container
      .frame__title
        h2 Управлять жизнью легко

      .frame__desc
        p Выбирайте подходящие роли, чтобы получить быстрый и удобный доступ к необходимым сервисам.


      .frame__content
        .roles
          .roles__nav
            .swiper(data-entity="roles-nav")
              .swiper-wrapper
                .swiper-slide.roles__slide
                  span # Я родитель
                .swiper-slide.roles__slide
                  span # Я здесь живу
                .swiper-slide.roles__slide
                  span # Я бизнесмен
                .swiper-slide.roles__slide
                  span # Я гражданин
                .swiper-slide.roles__slide
                  span # Я пенсионер
                .swiper-slide.roles__slide
                  span # Я студент
                .swiper-slide.roles__slide
                  span # Я за здоровье
                .swiper-slide.roles__slide
                  span # Я за спорт
                .swiper-slide.roles__slide
                  span # Я читаю книги
                .swiper-slide.roles__slide
                  span # Я люблю Петербург

          .roles__slider
            .swiper(data-entity="roles-slider")
              .swiper-wrapper
                .swiper-slide
                  .roles__card
                    .roles__card-content
                      ul
                        li Оформить материнский капитал
                        li Записаться в детский сад
                        li Найти репетитора
                        li Узнать, как провести досуг с ребёнком
                        li Получить консультацию детского психолога
                      span.roles__card-label И ещё более 48 потребностей
                    .roles__card-icon
                      <svg viewBox="0 0 363 364" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <circle cx="265.973" cy="160.786" r="42" transform="rotate(-23.719 265.973 160.786)" fill="url(#paint0_linear_56_299)"/>
                          <g filter="url(#filter0_b_56_299)">
                          <rect x="121.88" y="87.1331" width="186.667" height="140" rx="24" transform="rotate(21.281 121.88 87.1331)" fill="url(#paint1_linear_56_299)" fill-opacity="0.24"/>
                          <rect x="122.164" y="87.7805" width="185.667" height="139" rx="23.5" transform="rotate(21.281 122.164 87.7805)" stroke="url(#paint2_linear_56_299)"/>
                          </g>
                          <path d="M193.708 171.516C200.513 176.202 209.82 174.486 214.505 167.681C219.191 160.877 217.475 151.57 210.671 146.884C203.866 142.199 194.559 143.915 189.874 150.719C185.188 157.524 186.904 166.831 193.708 171.516ZM159.111 204.158L166.398 201.959L162.414 187.64L149.254 191.514C145.993 192.491 143.805 195.569 143.936 198.973L144.54 213.914C144.643 216.368 145.908 218.487 147.771 219.77C149.048 220.649 150.633 221.15 152.313 221.082C156.438 220.927 159.637 217.434 159.482 213.309L159.111 204.158ZM189.817 206.511L175.02 207.895L175.553 215.48L166.871 218.398C162.963 219.723 160.841 223.959 162.166 227.867C162.702 229.462 163.72 230.753 165.013 231.643C166.891 232.936 169.321 233.362 171.635 232.572L185.81 227.808C189.036 226.716 191.131 223.575 190.881 220.18L189.817 206.511ZM223.733 188.788C223.697 184.655 220.319 181.353 216.197 181.374L206.925 181.458C194.89 181.567 183.882 173.987 179.707 162.714L176.468 154.038C175.027 150.164 170.728 148.202 166.864 149.626C162.99 151.066 161.028 155.366 162.453 159.23L165.682 167.921C167.037 171.556 168.916 174.892 171.099 177.984L167.828 182.744L192.46 199.707L195.72 194.961C199.387 195.898 203.174 196.463 207.052 196.433L216.324 196.35C220.468 196.298 223.769 192.921 223.733 188.788Z" fill="white"/>
                          <path opacity="0.4" d="M162.414 187.64L167.828 182.744L192.46 199.707L189.817 206.511L175.02 207.895L166.399 201.959L162.414 187.64Z" fill="white"/>
                          <defs>
                          <filter id="filter0_b_56_299" x="54.1355" y="70.2007" width="258.615" height="232.068" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                          <feGaussianBlur in="BackgroundImage" stdDeviation="12"/>
                          <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_56_299"/>
                          <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_56_299" result="shape"/>
                          </filter>
                          <linearGradient id="paint0_linear_56_299" x1="265.973" y1="118.786" x2="265.973" y2="202.786" gradientUnits="userSpaceOnUse">
                          <stop stop-color="#2F80ED"/>
                          <stop offset="1" stop-color="#2D9CDB"/>
                          </linearGradient>
                          <linearGradient id="paint1_linear_56_299" x1="215.213" y1="87.1331" x2="215.213" y2="227.133" gradientUnits="userSpaceOnUse">
                          <stop stop-color="#2F80ED"/>
                          <stop offset="1" stop-color="#2D9CDB"/>
                          </linearGradient>
                          <linearGradient id="paint2_linear_56_299" x1="308.547" y1="87.1331" x2="181.38" y2="227.133" gradientUnits="userSpaceOnUse">
                          <stop stop-color="white"/>
                          <stop offset="0.338542" stop-color="white" stop-opacity="0"/>
                          <stop offset="1" stop-color="white" stop-opacity="0.1"/>
                          </linearGradient>
                          </defs>
                      </svg>

                .swiper-slide
                  .roles__card
                    .roles__card-content
                      ul
                        li Оплатить ЖКХ онлайн
                        li Узнать расписание развода мостов
                        li Посмотреть прогноз погоды
                        li Проконтролировать уборку территории
                        li Узнать график отключения горячей воды
                      span.roles__card-label И ещё более 32 потребностей
                    .roles__card-icon
                      <svg viewBox="0 0 281 281" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="211.544" cy="90.5222" r="42" transform="rotate(-45 211.544 90.5222)" fill="url(#paint0_linear_105_2786)"/>
                        <g filter="url(#filter0_b_105_2786)">
                        <mask id="path-2-inside-1_105_2786" fill="white">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M131.044 62.7283C153.832 62.7283 173.071 77.9221 179.183 98.7319C182.283 98.0743 185.498 97.7283 188.794 97.7283C214.096 97.7283 234.635 118.119 234.875 143.364C235.836 143.274 236.809 143.228 237.794 143.228C254.869 143.228 268.71 157.07 268.71 174.145C268.71 190.632 255.804 204.106 239.544 205.013V205.062H237.794H70.3771H65.7104V204.862C38.2563 202.497 16.7104 179.462 16.7104 151.395C16.7104 121.756 40.7378 97.7283 70.3771 97.7283C74.6455 97.7283 78.7976 98.2267 82.7782 99.1683C88.7485 78.1349 108.097 62.7283 131.044 62.7283Z"/>
                        </mask>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M131.044 62.7283C153.832 62.7283 173.071 77.9221 179.183 98.7319C182.283 98.0743 185.498 97.7283 188.794 97.7283C214.096 97.7283 234.635 118.119 234.875 143.364C235.836 143.274 236.809 143.228 237.794 143.228C254.869 143.228 268.71 157.07 268.71 174.145C268.71 190.632 255.804 204.106 239.544 205.013V205.062H237.794H70.3771H65.7104V204.862C38.2563 202.497 16.7104 179.462 16.7104 151.395C16.7104 121.756 40.7378 97.7283 70.3771 97.7283C74.6455 97.7283 78.7976 98.2267 82.7782 99.1683C88.7485 78.1349 108.097 62.7283 131.044 62.7283Z" fill="url(#paint1_linear_105_2786)" fill-opacity="0.24"/>
                        <path d="M179.183 98.7319L178.224 99.0137L178.485 99.9023L179.391 99.7101L179.183 98.7319ZM234.875 143.364L233.875 143.374L233.885 144.461L234.968 144.36L234.875 143.364ZM239.544 205.013L239.488 204.015L238.544 204.067V205.013H239.544ZM239.544 205.062V206.062H240.544V205.062H239.544ZM65.7105 205.062H64.7105V206.062H65.7105V205.062ZM65.7105 204.862H66.7105V203.944L65.7963 203.865L65.7105 204.862ZM82.7782 99.1683L82.548 100.141L83.479 100.362L83.7402 99.4414L82.7782 99.1683ZM180.143 98.4501C173.909 77.2262 154.287 61.7283 131.044 61.7283V63.7283C153.376 63.7283 172.233 78.6181 178.224 99.0137L180.143 98.4501ZM188.794 96.7283C185.428 96.7283 182.143 97.0817 178.976 97.7537L179.391 99.7101C182.423 99.0669 185.568 98.7283 188.794 98.7283V96.7283ZM235.875 143.355C235.63 117.562 214.645 96.7283 188.794 96.7283V98.7283C213.547 98.7283 233.64 118.677 233.875 143.374L235.875 143.355ZM234.968 144.36C235.898 144.273 236.841 144.228 237.794 144.228V142.228C236.778 142.228 235.774 142.276 234.782 142.369L234.968 144.36ZM237.794 144.228C254.316 144.228 267.71 157.622 267.71 174.145H269.71C269.71 156.518 255.421 142.228 237.794 142.228V144.228ZM267.71 174.145C267.71 190.099 255.222 203.137 239.488 204.015L239.6 206.011C256.387 205.075 269.71 191.166 269.71 174.145H267.71ZM240.544 205.062V205.013H238.544V205.062H240.544ZM237.794 206.062H239.544V204.062H237.794V206.062ZM70.3771 206.062H237.794V204.062H70.3771V206.062ZM65.7105 206.062H70.3771V204.062H65.7105V206.062ZM64.7105 204.862V205.062H66.7105V204.862H64.7105ZM15.7104 151.395C15.7104 179.986 37.6579 203.449 65.6246 205.858L65.7963 203.865C38.8547 201.545 17.7104 178.939 17.7104 151.395H15.7104ZM70.3771 96.7283C40.1855 96.7283 15.7104 121.203 15.7104 151.395H17.7104C17.7104 122.308 41.2901 98.7283 70.3771 98.7283V96.7283ZM83.0084 98.1951C78.9529 97.2358 74.7236 96.7283 70.3771 96.7283V98.7283C74.5675 98.7283 78.6423 99.2175 82.548 100.141L83.0084 98.1951ZM131.044 61.7283C107.638 61.7283 87.9054 77.4431 81.8162 98.8952L83.7402 99.4414C89.5917 78.8267 108.556 63.7283 131.044 63.7283V61.7283Z" fill="url(#paint2_linear_105_2786)" mask="url(#path-2-inside-1_105_2786)"/>
                        </g>
                        <path d="M160.996 207.412C160.556 208.944 160.541 210.489 160.973 212.036C161.404 213.584 162.182 214.96 163.334 216.138C164.486 217.315 165.851 218.139 167.451 218.597C169.051 219.056 170.662 219.086 172.28 218.703C173.863 218.333 175.314 217.57 176.491 216.486C177.681 215.386 178.5 214.089 178.939 212.557C179.226 211.558 179.272 210.292 179.066 208.737C178.861 207.182 178.506 205.693 177.997 204.286C177.512 203.119 176.918 201.814 176.211 200.386C175.503 198.957 174.198 196.691 173.9 196.173L171.082 197.69C169.729 198.383 168.367 199.236 167.009 200.27C165.651 201.304 164.385 202.473 163.228 203.781C162.037 205.079 161.316 206.296 160.996 207.412Z" fill="white"/>
                        <path d="M125.996 207.411C125.556 208.943 125.541 210.489 125.973 212.036C126.404 213.584 127.182 214.96 128.334 216.137C129.486 217.315 130.851 218.138 132.451 218.597C134.051 219.056 135.662 219.086 137.28 218.703C138.863 218.333 140.314 217.569 141.491 216.486C142.681 215.386 143.5 214.089 143.939 212.557C144.226 211.558 144.272 210.292 144.066 208.737C143.861 207.182 143.506 205.693 142.997 204.285C142.512 203.119 141.918 201.814 141.211 200.385C140.503 198.957 139.198 196.691 138.9 196.173L136.082 197.689C134.729 198.383 133.367 199.235 132.009 200.27C130.651 201.304 129.385 202.473 128.228 203.781C127.037 205.079 126.316 206.296 125.996 207.411Z" fill="white"/>
                        <path d="M143.496 172.411C143.056 173.943 143.041 175.489 143.473 177.036C143.904 178.584 144.682 179.96 145.834 181.137C146.986 182.315 148.351 183.138 149.951 183.597C151.551 184.056 153.162 184.086 154.78 183.703C156.363 183.333 157.814 182.569 158.991 181.486C160.181 180.386 161 179.089 161.439 177.557C161.726 176.558 161.772 175.292 161.566 173.737C161.361 172.182 161.006 170.693 160.497 169.285C160.012 168.119 159.418 166.814 158.711 165.385C158.003 163.957 156.698 161.691 156.4 161.173L153.582 162.689C152.229 163.383 150.867 164.235 149.509 165.27C148.151 166.304 146.885 167.473 145.728 168.781C144.537 170.079 143.816 171.296 143.496 172.411Z" fill="white"/>
                        <path d="M90.9956 207.412C90.5563 208.944 90.5414 210.489 90.9728 212.036C91.4042 213.584 92.1824 214.96 93.3343 216.138C94.4862 217.315 95.8511 218.139 97.4511 218.597C99.051 219.056 100.662 219.086 102.28 218.703C103.863 218.333 105.314 217.57 106.491 216.486C107.681 215.386 108.5 214.089 108.939 212.557C109.226 211.558 109.272 210.292 109.066 208.737C108.861 207.182 108.506 205.693 107.997 204.286C107.512 203.119 106.918 201.814 106.211 200.386C105.503 198.957 104.198 196.691 103.9 196.173L101.082 197.69C99.7287 198.383 98.367 199.236 97.0092 200.27C95.6514 201.304 94.3853 202.473 93.2283 203.781C92.0368 205.079 91.3155 206.296 90.9956 207.412Z" fill="white"/>
                        <path d="M108.496 172.411C108.056 173.943 108.041 175.489 108.473 177.036C108.904 178.584 109.682 179.96 110.834 181.137C111.986 182.315 113.351 183.138 114.951 183.597C116.551 184.056 118.162 184.086 119.78 183.703C121.363 183.333 122.814 182.569 123.991 181.486C125.181 180.386 126 179.089 126.439 177.557C126.726 176.558 126.772 175.292 126.566 173.737C126.361 172.182 126.006 170.693 125.497 169.285C125.012 168.119 124.418 166.814 123.711 165.385C123.003 163.957 121.698 161.691 121.4 161.173L118.582 162.689C117.229 163.383 115.867 164.235 114.509 165.27C113.151 166.304 111.885 167.473 110.728 168.781C109.537 170.079 108.816 171.296 108.496 172.411Z" fill="white"/>
                        <defs>
                        <filter id="filter0_b_105_2786" x="-7.28955" y="38.7283" width="300" height="190.333" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feGaussianBlur in="BackgroundImage" stdDeviation="12"/>
                        <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_105_2786"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_105_2786" result="shape"/>
                        </filter>
                        <linearGradient id="paint0_linear_105_2786" x1="211.544" y1="48.5222" x2="211.544" y2="132.522" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#2F80ED"/>
                        <stop offset="1" stop-color="#2D9CDB"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear_105_2786" x1="142.71" y1="62.7283" x2="142.71" y2="205.062" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#2F80ED"/>
                        <stop offset="1" stop-color="#2D9CDB"/>
                        </linearGradient>
                        <linearGradient id="paint2_linear_105_2786" x1="268.71" y1="62.7283" x2="147.659" y2="239.691" gradientUnits="userSpaceOnUse">
                        <stop offset="0.197917" stop-color="white"/>
                        <stop offset="0.609375" stop-color="white" stop-opacity="0"/>
                        <stop offset="1" stop-color="white" stop-opacity="0.1"/>
                        </linearGradient>
                        </defs>
                      </svg>


                .swiper-slide
                  .roles__card
                    .roles__card-content
                      ul
                        li Найти персонал
                        li Получить юридическую консультацию
                        li Узнать о рекламе своего бизнеса
                        li Найти проект для инвестирования
                        li Узнать информацию о налоговых изменениях
                      span.roles__card-label И ещё более 60 потребностей
                    .roles__card-icon
                      <svg viewBox="0 0 281 281" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="92.2964" y="41.0286" width="116.667" height="81.6667" rx="16" transform="rotate(11.2033 92.2964 41.0286)" fill="url(#paint0_linear_105_2876)"/>
                        <g filter="url(#filter0_b_105_2876)">
                        <mask id="path-2-inside-1_105_2876" fill="white">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M115.05 74.1888H74.5439C61.2891 74.1888 50.5439 84.934 50.5439 98.1888V190.189C50.5439 203.444 61.2891 214.189 74.544 214.189H213.211C226.465 214.189 237.211 203.444 237.211 190.189V98.1888C237.211 84.934 226.465 74.1888 213.211 74.1888H172.705C170.558 88.1799 158.469 98.8951 143.877 98.8951C129.286 98.8951 117.197 88.1799 115.05 74.1888Z"/>
                        </mask>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M115.05 74.1888H74.5439C61.2891 74.1888 50.5439 84.934 50.5439 98.1888V190.189C50.5439 203.444 61.2891 214.189 74.544 214.189H213.211C226.465 214.189 237.211 203.444 237.211 190.189V98.1888C237.211 84.934 226.465 74.1888 213.211 74.1888H172.705C170.558 88.1799 158.469 98.8951 143.877 98.8951C129.286 98.8951 117.197 88.1799 115.05 74.1888Z" fill="url(#paint1_linear_105_2876)" fill-opacity="0.24"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M115.05 74.1888H74.5439C61.2891 74.1888 50.5439 84.934 50.5439 98.1888V190.189C50.5439 203.444 61.2891 214.189 74.544 214.189H213.211C226.465 214.189 237.211 203.444 237.211 190.189V98.1888C237.211 84.934 226.465 74.1888 213.211 74.1888H172.705C170.558 88.1799 158.469 98.8951 143.877 98.8951C129.286 98.8951 117.197 88.1799 115.05 74.1888Z" fill="url(#paint2_radial_105_2876)" fill-opacity="0.16"/>
                        <path d="M115.05 74.1888L116.038 74.0372L115.908 73.1888H115.05V74.1888ZM172.705 74.1888V73.1888H171.847L171.717 74.0372L172.705 74.1888ZM74.5439 75.1888H115.05V73.1888H74.5439V75.1888ZM51.5439 98.1888C51.5439 85.4863 61.8414 75.1888 74.5439 75.1888V73.1888C60.7368 73.1888 49.5439 84.3817 49.5439 98.1888H51.5439ZM51.5439 190.189V98.1888H49.5439V190.189H51.5439ZM74.544 213.189C61.8414 213.189 51.5439 202.891 51.5439 190.189H49.5439C49.5439 203.996 60.7368 215.189 74.544 215.189V213.189ZM213.211 213.189H74.544V215.189H213.211V213.189ZM236.211 190.189C236.211 202.891 225.913 213.189 213.211 213.189V215.189C227.018 215.189 238.211 203.996 238.211 190.189H236.211ZM236.211 98.1888V190.189H238.211V98.1888H236.211ZM213.211 75.1888C225.913 75.1888 236.211 85.4863 236.211 98.1888H238.211C238.211 84.3817 227.018 73.1888 213.211 73.1888V75.1888ZM172.705 75.1888H213.211V73.1888H172.705V75.1888ZM171.717 74.0372C169.643 87.5476 157.968 97.8951 143.877 97.8951V99.8951C158.97 99.8951 171.473 88.8121 173.693 74.3405L171.717 74.0372ZM143.877 97.8951C129.787 97.8951 118.111 87.5476 116.038 74.0372L114.061 74.3405C116.282 88.8121 128.784 99.8951 143.877 99.8951V97.8951Z" fill="url(#paint3_linear_105_2876)" mask="url(#path-2-inside-1_105_2876)"/>
                        </g>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M168.758 131.916C168.758 143.338 159.652 152.497 148.296 152.497C136.94 152.497 127.834 143.338 127.834 131.916C127.834 120.489 136.94 111.339 148.296 111.339C159.652 111.339 168.758 120.489 168.758 131.916ZM148.296 189.117C131.617 189.117 117.375 186.473 117.375 175.896C117.375 165.314 131.525 162.574 148.296 162.574C164.976 162.574 179.217 165.218 179.217 175.8C179.217 186.377 165.067 189.117 148.296 189.117ZM177.502 132.287C177.502 138.11 175.765 143.534 172.719 148.043C172.405 148.507 172.684 149.133 173.236 149.23C173.998 149.361 174.786 149.436 175.587 149.457C183.574 149.668 190.743 144.497 192.723 136.713C195.657 125.151 187.043 114.771 176.074 114.771C174.882 114.771 173.741 114.898 172.631 115.126C172.479 115.161 172.318 115.231 172.231 115.366C172.127 115.533 172.205 115.756 172.309 115.9C175.604 120.545 177.502 126.21 177.502 132.287ZM190.73 157.581C196.097 158.636 199.627 160.79 201.089 163.92C202.325 166.49 202.325 169.472 201.089 172.037C198.852 176.892 191.639 178.451 188.836 178.854C188.257 178.941 187.792 178.438 187.853 177.855C189.285 164.402 177.894 158.023 174.947 156.557C174.821 156.491 174.795 156.39 174.808 156.329C174.816 156.285 174.869 156.215 174.964 156.202C181.341 156.084 188.197 156.959 190.73 157.581ZM121.502 149.457C122.303 149.435 123.087 149.365 123.853 149.229C124.405 149.133 124.684 148.507 124.371 148.043C121.324 143.534 119.587 138.109 119.587 132.287C119.587 126.21 121.485 120.545 124.78 115.9C124.884 115.756 124.958 115.532 124.858 115.366C124.771 115.235 124.606 115.16 124.458 115.125C123.343 114.897 122.203 114.77 121.01 114.77C110.042 114.77 101.428 125.151 104.366 136.713C106.346 144.497 113.515 149.667 121.502 149.457ZM122.279 156.326C122.292 156.392 122.266 156.488 122.144 156.558C119.193 158.025 107.802 164.404 109.234 177.853C109.295 178.439 108.834 178.939 108.255 178.855C105.452 178.453 98.2394 176.894 96.0022 172.039C94.7617 169.469 94.7617 166.492 96.0022 163.922C97.4646 160.792 100.99 158.638 106.357 157.579C108.895 156.961 115.746 156.086 122.127 156.204C122.223 156.217 122.27 156.287 122.279 156.326Z" fill="white"/>
                        <defs>
                        <filter id="filter0_b_105_2876" x="26.5439" y="50.1888" width="234.667" height="188" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feGaussianBlur in="BackgroundImage" stdDeviation="12"/>
                        <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_105_2876"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_105_2876" result="shape"/>
                        </filter>
                        <linearGradient id="paint0_linear_105_2876" x1="150.63" y1="41.0286" x2="150.63" y2="122.695" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#2F80ED"/>
                        <stop offset="1" stop-color="#2D9CDB"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear_105_2876" x1="143.877" y1="74.1888" x2="143.877" y2="214.189" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#2F80ED"/>
                        <stop offset="1" stop-color="#2D9CDB"/>
                        </linearGradient>
                        <radialGradient id="paint2_radial_105_2876" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(210.961 96.3555) rotate(130.849) scale(102.564 104.426)">
                        <stop stop-color="white"/>
                        <stop offset="1" stop-color="white" stop-opacity="0"/>
                        </radialGradient>
                        <linearGradient id="paint3_linear_105_2876" x1="89.6273" y1="74.3951" x2="169.544" y2="214.395" gradientUnits="userSpaceOnUse">
                        <stop stop-color="white"/>
                        <stop offset="0.572917" stop-color="white" stop-opacity="0"/>
                        <stop offset="1" stop-color="white" stop-opacity="0.1"/>
                        </linearGradient>
                        </defs>
                      </svg>

                .swiper-slide
                  .roles__card
                    .roles__card-content
                      ul
                        li Открыть навигатор по госуслугам
                        li Узнать, как обратиться к государству
                        li Записаться на прием в МФЦ
                        li Подать запрос в архив СПб
                        li Найти видеокамеру с места событий и получить обзор
                      span.roles__card-label И ещё более 36 потребностей
                    .roles__card-icon
                      <svg viewBox="0 0 282 281" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_105_2976)">
                        <path d="M217.377 126.531C251.966 126.531 281.155 132.152 281.155 153.837C281.155 175.529 251.774 180.95 217.377 180.95C182.797 180.95 153.599 175.33 153.599 153.645C153.599 131.953 182.98 126.531 217.377 126.531ZM217.377 21.506C240.808 21.506 259.582 40.2728 259.582 63.6874C259.582 87.1021 240.808 105.877 217.377 105.877C193.954 105.877 175.172 87.1021 175.172 63.6874C175.172 40.2728 193.954 21.506 217.377 21.506Z" fill="url(#paint0_linear_105_2976)"/>
                        </g>
                        <g filter="url(#filter0_b_105_2976)">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M51.1272 90.728C34.6967 90.728 21.3772 102.872 21.3772 117.853V199.228C21.3772 214.209 34.6967 226.353 51.1272 226.353H58.5647C58.5647 226.353 82.7728 226.353 90.2744 236.431C94.9462 242.708 99.7106 249.312 104.436 255.861C107.298 259.829 110.147 263.776 112.951 267.619C116.787 272.875 124.301 272.875 128.137 267.619C130.941 263.776 133.79 259.828 136.652 255.861C141.377 249.311 146.142 242.708 150.813 236.431C158.315 226.353 182.523 226.353 182.523 226.353H189.961C206.391 226.353 219.711 214.209 219.711 199.228V117.853C219.711 102.872 206.391 90.728 189.961 90.728H51.1272Z" fill="url(#paint1_linear_105_2976)" fill-opacity="0.24"/>
                        <path d="M21.8772 117.853C21.8772 103.191 34.9284 91.228 51.1272 91.228H189.961C206.159 91.228 219.211 103.191 219.211 117.853V199.228C219.211 213.89 206.159 225.853 189.961 225.853H182.523V226.353C182.523 226.161 182.523 226.042 182.523 225.97C182.523 225.853 182.523 225.853 182.523 225.853H182.521L182.518 225.853L182.504 225.853L182.45 225.853C182.403 225.854 182.333 225.854 182.242 225.856C182.061 225.858 181.795 225.863 181.454 225.873C180.772 225.893 179.791 225.932 178.59 226.012C176.191 226.17 172.911 226.487 169.393 227.121C165.876 227.754 162.108 228.708 158.737 230.145C155.371 231.58 152.361 233.514 150.412 236.133C145.738 242.413 140.971 249.019 136.247 255.568C133.384 259.536 130.536 263.483 127.733 267.325C124.097 272.307 116.991 272.307 113.355 267.325C110.552 263.484 107.705 259.538 104.843 255.571L104.842 255.569L104.84 255.566C100.115 249.018 95.3493 242.412 90.6755 236.133C88.7262 233.514 85.717 231.58 82.3511 230.145C78.9801 228.708 75.2112 227.754 71.6951 227.121C68.1767 226.487 64.8968 226.17 62.4973 226.012C61.2971 225.932 60.316 225.893 59.6341 225.873C59.2931 225.863 59.0268 225.858 58.8453 225.856C58.7545 225.854 58.6849 225.854 58.6377 225.853L58.5839 225.853L58.5699 225.853L58.5662 225.853H58.5652C58.5649 225.853 58.5647 225.853 58.5647 226.353V225.853H51.1272C34.9284 225.853 21.8772 213.89 21.8772 199.228V117.853Z" stroke="url(#paint2_linear_105_2976)"/>
                        </g>
                        <path opacity="0.2" d="M109.848 183.865V158.946H90.2104V183.865C90.2104 192.621 94.8895 200.738 102.511 205.134L124.595 217.895V195.208L112.33 188.119C110.77 187.233 109.848 185.638 109.848 183.865Z" fill="white"/>
                        <path opacity="0.6" d="M124.559 208.076L146.678 195.315C154.264 190.919 158.979 182.802 158.979 174.046V124.562H124.595V144.199H139.305V174.011C139.305 175.748 138.384 177.378 136.859 178.265L124.595 185.354V208.076H124.559Z" fill="white"/>
                        <path d="M124.559 124.562L90.2104 158.946H124.559V124.562Z" fill="white"/>
                        <defs>
                        <filter id="filter0_b_105_2976" x="-2.6228" y="66.728" width="246.333" height="228.833" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feGaussianBlur in="BackgroundImage" stdDeviation="12"/>
                        <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_105_2976"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_105_2976" result="shape"/>
                        </filter>
                        <linearGradient id="paint0_linear_105_2976" x1="217.377" y1="21.506" x2="217.377" y2="180.95" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#2F80ED"/>
                        <stop offset="1" stop-color="#2D9CDB"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear_105_2976" x1="120.544" y1="90.728" x2="120.544" y2="271.561" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#2F80ED"/>
                        <stop offset="1" stop-color="#2D9CDB"/>
                        </linearGradient>
                        <linearGradient id="paint2_linear_105_2976" x1="212.273" y1="96.9442" x2="83.8414" y2="276.647" gradientUnits="userSpaceOnUse">
                        <stop stop-color="white"/>
                        <stop offset="0.572917" stop-color="white" stop-opacity="0"/>
                        <stop offset="1" stop-color="white" stop-opacity="0.1"/>
                        </linearGradient>
                        <clipPath id="clip0_105_2976">
                        <rect width="128.333" height="161" fill="white" transform="translate(153.21 20.7281)"/>
                        </clipPath>
                        </defs>
                      </svg>


              
                .swiper-slide 
                  .roles__card
                    .roles__card-content
                      ul
                        li Купить билет на культурное мероприятие со скидкой 
                        li Получить социальную помощь от волонтера
                        li Записаться на курсы цифровой грамотности
                        li Узнать об активном отдыхе для пенсионеров
                        li Сравнить стоимость медпрепаратов ЖНВЛП
                      span.roles__card-label И ещё более 11 потребностей
                    .roles__card-icon
                      <svg viewBox="0 0 377 378" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M265.284 116.613C263.376 110.744 258.866 106.083 253.062 103.985L202.735 85.7915C194.13 82.681 184.512 85.8062 179.379 93.3803L149.357 137.681C145.895 142.79 144.985 149.211 146.892 155.081L180.431 258.303C183.845 268.808 195.128 274.557 205.633 271.143L285.982 245.036C296.487 241.623 302.236 230.34 298.822 219.835L265.284 116.613ZM190.91 112.871C196.015 115.472 202.261 113.442 204.862 108.337C207.463 103.232 205.434 96.9855 200.329 94.3845C195.224 91.7835 188.977 93.8132 186.376 98.918C183.775 104.023 185.805 110.27 190.91 112.871Z" fill="#D9D9D9"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M265.284 116.613C263.376 110.744 258.866 106.083 253.062 103.985L202.735 85.7915C194.13 82.681 184.512 85.8062 179.379 93.3803L149.357 137.681C145.895 142.79 144.985 149.211 146.892 155.081L180.431 258.303C183.845 268.808 195.128 274.557 205.633 271.143L285.982 245.036C296.487 241.623 302.236 230.34 298.822 219.835L265.284 116.613ZM190.91 112.871C196.015 115.472 202.261 113.442 204.862 108.337C207.463 103.232 205.434 96.9855 200.329 94.3845C195.224 91.7835 188.977 93.8132 186.376 98.918C183.775 104.023 185.805 110.27 190.91 112.871Z" fill="url(#paint0_linear_105_3069)"/>
                        <g filter="url(#filter0_b_105_3069)">
                        <mask id="path-2-inside-1_105_3069" fill="white">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M236.433 160.627C239.234 155.128 239.341 148.643 236.72 143.055L213.998 94.6038C210.113 86.3199 201.102 81.7286 192.117 83.4549L139.563 93.5513C133.502 94.7157 128.319 98.6132 125.517 104.112L76.2433 200.817C71.2287 210.658 75.1419 222.702 84.9837 227.716L160.259 266.071C170.101 271.086 182.145 267.173 187.159 257.331L236.433 160.627ZM190.91 112.871C196.015 115.472 202.261 113.442 204.862 108.337C207.463 103.232 205.434 96.9855 200.329 94.3845C195.224 91.7835 188.977 93.8132 186.376 98.918C183.775 104.023 185.805 110.27 190.91 112.871Z"/>
                        </mask>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M236.433 160.627C239.234 155.128 239.341 148.643 236.72 143.055L213.998 94.6038C210.113 86.3199 201.102 81.7286 192.117 83.4549L139.563 93.5513C133.502 94.7157 128.319 98.6132 125.517 104.112L76.2433 200.817C71.2287 210.658 75.1419 222.702 84.9837 227.716L160.259 266.071C170.101 271.086 182.145 267.173 187.159 257.331L236.433 160.627ZM190.91 112.871C196.015 115.472 202.261 113.442 204.862 108.337C207.463 103.232 205.434 96.9855 200.329 94.3845C195.224 91.7835 188.977 93.8132 186.376 98.918C183.775 104.023 185.805 110.27 190.91 112.871Z" fill="url(#paint1_linear_105_3069)" fill-opacity="0.24"/>
                        <path d="M236.72 143.055L237.625 142.63L237.625 142.63L236.72 143.055ZM213.998 94.6038L214.903 94.1792L214.903 94.1792L213.998 94.6038ZM192.117 83.4549L192.306 84.4369L192.306 84.4369L192.117 83.4549ZM139.563 93.5513L139.375 92.5692L139.375 92.5692L139.563 93.5513ZM125.517 104.112L126.408 104.566L126.408 104.566L125.517 104.112ZM76.2433 200.817L75.3523 200.363L76.2433 200.817ZM84.9837 227.716L85.4377 226.825L84.9837 227.716ZM160.259 266.071L159.805 266.962L160.259 266.071ZM187.159 257.331L188.05 257.785L188.05 257.785L187.159 257.331ZM235.815 143.48C238.304 148.788 238.203 154.949 235.542 160.173L237.324 161.081C240.266 155.307 240.377 148.498 237.625 142.63L235.815 143.48ZM213.093 95.0284L235.815 143.48L237.625 142.63L214.903 94.1792L213.093 95.0284ZM192.306 84.4369C200.842 82.797 209.402 87.1587 213.093 95.0284L214.903 94.1792C210.824 85.4812 201.363 80.6603 191.928 82.4728L192.306 84.4369ZM139.752 94.5333L192.306 84.4369L191.928 82.4728L139.375 92.5692L139.752 94.5333ZM126.408 104.566C129.069 99.3421 133.994 95.6395 139.752 94.5333L139.375 92.5692C133.011 93.7919 127.568 97.8842 124.626 103.658L126.408 104.566ZM77.1344 201.271L126.408 104.566L124.626 103.658L75.3523 200.363L77.1344 201.271ZM85.4377 226.825C76.088 222.062 72.3704 210.62 77.1344 201.271L75.3523 200.363C70.087 210.696 74.1958 223.342 84.5297 228.607L85.4377 226.825ZM160.713 265.18L85.4377 226.825L84.5297 228.607L159.805 266.962L160.713 265.18ZM186.268 256.877C181.504 266.227 170.063 269.944 160.713 265.18L159.805 266.962C170.139 272.228 182.785 268.119 188.05 257.785L186.268 256.877ZM235.542 160.173L186.268 256.877L188.05 257.785L237.324 161.081L235.542 160.173ZM203.971 107.883C201.621 112.496 195.977 114.33 191.364 111.98L190.456 113.762C196.053 116.613 202.902 114.388 205.753 108.791L203.971 107.883ZM199.875 95.2755C204.488 97.6258 206.322 103.27 203.971 107.883L205.753 108.791C208.605 103.194 206.38 96.3453 200.783 93.4935L199.875 95.2755ZM187.267 99.372C189.618 94.7593 195.262 92.9253 199.875 95.2755L200.783 93.4935C195.186 90.6418 188.337 92.8671 185.485 98.464L187.267 99.372ZM191.364 111.98C186.751 109.629 184.917 103.985 187.267 99.372L185.485 98.464C182.634 104.061 184.859 110.91 190.456 113.762L191.364 111.98Z" fill="url(#paint2_linear_105_3069)" mask="url(#path-2-inside-1_105_3069)"/>
                        </g>
                        <g clip-path="url(#clip0_105_3069)">
                        <path d="M196.343 167.409C195.458 164.684 192.533 163.194 189.808 164.079L120.046 186.747C117.321 187.632 115.83 190.557 116.716 193.282C117.162 194.648 118.115 195.698 119.298 196.3C120.481 196.903 121.894 197.054 123.255 196.611L193.018 173.943C195.742 173.053 197.229 170.134 196.343 167.409ZM142.758 161.683C147.856 164.281 154.114 162.245 156.71 157.15C159.307 152.054 157.274 145.796 152.176 143.198C147.078 140.601 140.82 142.637 138.224 147.73C135.629 152.824 137.66 159.085 142.758 161.683ZM170.311 199.007C165.213 196.41 158.954 198.445 156.358 203.541C153.762 208.636 155.794 214.896 160.892 217.493C165.99 220.091 172.248 218.055 174.844 212.96C177.44 207.864 175.409 201.605 170.311 199.007Z" fill="white"/>
                        </g>
                        <defs>
                        <filter id="filter0_b_105_3069" x="50.0593" y="59.094" width="212.553" height="233.161" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feGaussianBlur in="BackgroundImage" stdDeviation="12"/>
                        <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_105_3069"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_105_3069" result="shape"/>
                        </filter>
                        <linearGradient id="paint0_linear_105_3069" x1="276.317" y1="150.17" x2="157.691" y2="188.714" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#2F80ED"/>
                        <stop offset="1" stop-color="#2D9CDB"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear_105_3069" x1="220.512" y1="191.872" x2="109.596" y2="135.358" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#2F80ED"/>
                        <stop offset="1" stop-color="#2D9CDB"/>
                        </linearGradient>
                        <linearGradient id="paint2_linear_105_3069" x1="223.68" y1="153.664" x2="119.464" y2="266.81" gradientUnits="userSpaceOnUse">
                        <stop stop-color="white"/>
                        <stop offset="0.604167" stop-color="white" stop-opacity="0"/>
                        <stop offset="1" stop-color="white" stop-opacity="0.1"/>
                        </linearGradient>
                        <clipPath id="clip0_105_3069">
                        <rect width="62.2419" height="82.9892" fill="white" transform="translate(147.639 129.244) rotate(27)"/>
                        </clipPath>
                        </defs>
                      </svg>



                .swiper-slide 
                  .roles__card
                    .roles__card-content
                      ul
                        li Выбрать университет
                        li Заполнить анкету на стажировку
                        li Открыть афишу бесплатных молодежных событий
                        li Записаться на лекции и тренинги по профориентации
                        li Получить скидки по студенческому билету
                      span.roles__card-label И ещё более 9 потребностей
                    .roles__card-icon
                      <svg viewBox="0 0 281 281" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M81.2265 51.1654C72.5583 52.8818 66.9226 61.3002 68.639 69.9685L76.0199 107.245C77.7363 115.913 86.1547 121.549 94.8229 119.832L161.528 106.624C170.196 104.908 175.832 96.4896 174.115 87.8213L166.735 50.545C165.018 41.8768 156.6 36.2411 147.931 37.9575L81.2265 51.1654ZM91.5992 62.3642C89.4321 62.7933 88.0232 64.8979 88.4523 67.0649C88.8814 69.232 90.986 70.6409 93.1531 70.2118L144.163 60.1116C146.33 59.6826 147.739 57.578 147.31 55.4109C146.881 53.2438 144.776 51.8349 142.609 52.264L91.5992 62.3642ZM94.9012 79.0404C92.7341 79.4695 91.3252 81.5741 91.7543 83.7412C92.1834 85.9082 94.288 87.3172 96.4551 86.8881L147.465 76.7879C149.632 76.3588 151.041 74.2542 150.612 72.0871C150.183 69.9201 148.078 68.5111 145.911 68.9402L94.9012 79.0404ZM95.0563 100.417C94.6272 98.2504 96.0361 96.1458 98.2032 95.7167L119.784 91.4435C121.951 91.0144 124.056 92.4233 124.485 94.5904C124.914 96.7575 123.505 98.8621 121.338 99.2911L99.757 103.564C97.59 103.993 95.4854 102.584 95.0563 100.417Z" fill="url(#paint0_linear_105_3157)"/>
                        <g filter="url(#filter0_b_105_3157)">
                        <mask id="path-2-inside-1_105_3157" fill="white">
                        <path d="M50.5439 98.189C50.5439 84.9341 61.2891 74.189 74.5439 74.189H213.211C226.465 74.189 237.211 84.9341 237.211 98.189V190.189C237.211 203.444 226.465 214.189 213.211 214.189H74.544C61.2891 214.189 50.5439 203.444 50.5439 190.189V98.189Z"/>
                        </mask>
                        <path d="M50.5439 98.189C50.5439 84.9341 61.2891 74.189 74.5439 74.189H213.211C226.465 74.189 237.211 84.9341 237.211 98.189V190.189C237.211 203.444 226.465 214.189 213.211 214.189H74.544C61.2891 214.189 50.5439 203.444 50.5439 190.189V98.189Z" fill="url(#paint1_linear_105_3157)" fill-opacity="0.24"/>
                        <path d="M74.5439 75.189H213.211V73.189H74.5439V75.189ZM236.211 98.189V190.189H238.211V98.189H236.211ZM213.211 213.189H74.544V215.189H213.211V213.189ZM51.5439 190.189V98.189H49.5439V190.189H51.5439ZM74.544 213.189C61.8414 213.189 51.5439 202.892 51.5439 190.189H49.5439C49.5439 203.996 60.7368 215.189 74.544 215.189V213.189ZM236.211 190.189C236.211 202.892 225.913 213.189 213.211 213.189V215.189C227.018 215.189 238.211 203.996 238.211 190.189H236.211ZM213.211 75.189C225.913 75.189 236.211 85.4864 236.211 98.189H238.211C238.211 84.3818 227.018 73.189 213.211 73.189V75.189ZM74.5439 73.189C60.7368 73.189 49.5439 84.3818 49.5439 98.189H51.5439C51.5439 85.4864 61.8414 75.189 74.5439 75.189V73.189Z" fill="url(#paint2_linear_105_3157)" mask="url(#path-2-inside-1_105_3157)"/>
                        </g>
                        <path d="M187.707 132.775L147.163 118.831C144.633 117.917 145.165 117.907 142.655 118.822L101.877 132.645C99.3667 133.55 99.3854 135.025 101.915 135.939L111.603 139.225C107.309 143.387 107.029 147.709 106.973 152.721C105.312 153.355 104.136 154.97 104.136 156.855C104.136 158.582 105.125 160.085 106.572 160.813C105.891 165.909 103.921 171.733 98.144 178.63C101 180.842 102.475 181.579 104.696 182.317C112.779 178.845 111.789 169.623 111.164 160.449C112.275 159.646 112.993 158.339 112.993 156.865C112.993 155.287 112.163 153.897 110.912 153.113C111.052 148.203 112.125 143.807 115.803 140.961C115.831 140.886 115.915 140.821 116.073 140.755L143.943 129.49C144.979 129.079 146.155 129.574 146.565 130.61L146.603 130.703C147.013 131.739 146.519 132.915 145.483 133.326L121.925 142.734L143 149.883C145.529 150.798 144.997 150.807 147.508 149.893L187.744 136.07C190.245 135.165 190.236 133.69 187.707 132.775ZM142.944 155.231L117.427 146.589V153.094C118.761 154.317 119.499 156.071 119.499 158.013C119.499 159.767 118.883 161.354 117.856 162.549C118.192 163.566 118.78 164.565 119.62 164.882C134.469 173.086 154.993 173.002 171.495 164.051C172.717 163.034 173.669 161.774 173.669 160.551V146.225L147.461 155.25C144.96 156.155 145.464 156.146 142.944 155.231Z" fill="white"/>
                        <defs>
                        <filter id="filter0_b_105_3157" x="26.5439" y="50.189" width="234.667" height="188" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feGaussianBlur in="BackgroundImage" stdDeviation="12"/>
                        <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_105_3157"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_105_3157" result="shape"/>
                        </filter>
                        <linearGradient id="paint0_linear_105_3157" x1="114.579" y1="44.5615" x2="128.175" y2="113.228" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#2F80ED"/>
                        <stop offset="1" stop-color="#2D9CDB"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear_105_3157" x1="143.877" y1="74.189" x2="143.877" y2="214.189" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#2F80ED"/>
                        <stop offset="1" stop-color="#2D9CDB"/>
                        </linearGradient>
                        <linearGradient id="paint2_linear_105_3157" x1="89.6273" y1="74.3952" x2="169.544" y2="214.395" gradientUnits="userSpaceOnUse">
                        <stop stop-color="white"/>
                        <stop offset="0.572917" stop-color="white" stop-opacity="0"/>
                        <stop offset="1" stop-color="white" stop-opacity="0.1"/>
                        </linearGradient>
                        </defs>
                      </svg>


                .swiper-slide 
                  .roles__card
                    .roles__card-content
                      ul
                        li Завести электронную медкарту
                        li Записаться к врачу
                        li Найти и купить лекарства онлайн
                        li Отследить движение машины скорой помощи
                        li Получить бесплатные лекарства
                      span.roles__card-label И ещё более 18 потребностей
                    .roles__card-icon    
                      <svg viewBox="0 0 281 281" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M259.452 63.6089C258.004 60.2403 255.916 57.1877 253.305 54.622C250.692 52.0486 247.611 50.0036 244.23 48.5982C240.724 47.135 236.964 46.3861 233.167 46.3949C227.841 46.3949 222.644 47.8601 218.128 50.6278C217.048 51.2899 216.022 52.0171 215.049 52.8094C214.077 52.0171 213.051 51.2899 211.97 50.6278C207.454 47.8601 202.258 46.3949 196.931 46.3949C193.096 46.3949 189.38 47.1329 185.868 48.5982C182.476 50.0092 179.419 52.0388 176.793 54.622C174.179 57.1848 172.09 60.2381 170.646 63.6089C169.144 67.1147 168.377 70.8375 168.377 74.6689C168.377 78.2832 169.112 82.0494 170.57 85.8808C171.791 89.0827 173.541 92.4039 175.778 95.7577C179.321 101.065 184.194 106.601 190.244 112.212C200.27 121.514 210.198 127.939 210.62 128.2L213.18 129.849C214.315 130.577 215.773 130.577 216.907 129.849L219.468 128.2C219.889 127.928 229.807 121.514 239.844 112.212C245.894 106.601 250.766 101.065 254.31 95.7577C256.546 92.4039 258.307 89.0827 259.517 85.8808C260.976 82.0494 261.71 78.2832 261.71 74.6689C261.721 70.8375 260.954 67.1147 259.452 63.6089V63.6089Z" fill="url(#paint0_linear_105_3245)"/>
                        <g filter="url(#filter0_b_105_3245)">
                        <rect x="50.5439" y="74.189" width="186.667" height="140" rx="24" fill="url(#paint1_linear_105_3245)" fill-opacity="0.24"/>
                        <rect x="51.0439" y="74.689" width="185.667" height="139" rx="23.5" stroke="url(#paint2_linear_105_3245)"/>
                        </g>
                        <path d="M136.877 111.728C135.021 111.728 133.24 112.466 131.927 113.779C130.615 115.091 129.877 116.872 129.877 118.728V130.4H118.21C116.354 130.4 114.573 131.137 113.261 132.45C111.948 133.763 111.21 135.543 111.21 137.4V151.4C111.21 153.256 111.948 155.037 113.261 156.349C114.573 157.662 116.354 158.4 118.21 158.4H129.877V170.066C129.877 171.923 130.615 173.703 131.927 175.016C133.24 176.329 135.021 177.066 136.877 177.066H150.877C152.734 177.066 154.514 176.329 155.827 175.016C157.14 173.703 157.877 171.923 157.877 170.066V158.4H169.544C171.4 158.4 173.181 157.662 174.494 156.349C175.806 155.037 176.544 153.256 176.544 151.4V137.4C176.544 135.543 175.806 133.763 174.494 132.45C173.181 131.137 171.4 130.4 169.544 130.4H157.877V118.728C157.877 116.872 157.14 115.091 155.827 113.779C154.514 112.466 152.734 111.728 150.877 111.728H136.877Z" fill="white"/>
                        <defs>
                        <filter id="filter0_b_105_3245" x="26.5439" y="50.189" width="234.667" height="188" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feGaussianBlur in="BackgroundImage" stdDeviation="12"/>
                        <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_105_3245"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_105_3245" result="shape"/>
                        </filter>
                        <linearGradient id="paint0_linear_105_3245" x1="168.633" y1="46.3948" x2="277.626" y2="87.1649" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#54CEEC"/>
                        <stop offset="1" stop-color="#599CF6"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear_105_3245" x1="143.877" y1="74.189" x2="143.877" y2="214.189" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#2F80ED"/>
                        <stop offset="1" stop-color="#2D9CDB"/>
                        </linearGradient>
                        <linearGradient id="paint2_linear_105_3245" x1="237.211" y1="74.189" x2="110.044" y2="214.189" gradientUnits="userSpaceOnUse">
                        <stop stop-color="white"/>
                        <stop offset="0.338542" stop-color="white" stop-opacity="0"/>
                        <stop offset="1" stop-color="white" stop-opacity="0.1"/>
                        </linearGradient>
                        </defs>
                      </svg>


                .swiper-slide 
                  .roles__card
                    .roles__card-content
                      ul
                        li Открыть календарь спортивных мероприятий
                        li Найти спарринг-партнера
                        li Выполнить нормативы ГТО
                        li Принять участие в командных играх
                        li Организовать спортивное мероприятие
                      span.roles__card-label И ещё более 18 потребностей
                    .roles__card-icon 

                      <svg viewBox="0 0 281 281" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M168.044 24.228C159.207 24.228 152.044 31.3915 152.044 40.228V101.561C152.044 110.398 159.207 117.561 168.044 117.561H229.377C238.214 117.561 245.377 110.398 245.377 101.561V40.228C245.377 31.3915 238.214 24.228 229.377 24.228H168.044ZM233.715 39.2457C231.881 37.6901 229.149 37.9507 227.632 39.8031L211.008 60.1084L202.563 51.5121C200.881 49.8003 198.137 49.8003 196.455 51.5121C194.796 53.2009 194.796 55.9222 196.455 57.611L208.244 69.611C209.095 70.4767 210.274 70.9467 211.495 70.8903C212.716 70.834 213.846 70.2577 214.613 69.32L234.262 45.3201C235.759 43.492 235.524 40.7806 233.715 39.2457Z" fill="url(#paint0_linear_106_617)"/>
                      <g filter="url(#filter0_b_106_617)">
                      <circle cx="140.377" cy="140.895" r="93.3333" fill="url(#paint1_linear_106_617)" fill-opacity="0.24"/>
                      <circle cx="140.377" cy="140.895" r="92.8333" stroke="url(#paint2_linear_106_617)"/>
                      </g>
                      <path opacity="0.1" d="M182.044 140.895C182.044 163.907 163.389 182.561 140.377 182.561C117.365 182.561 98.7107 163.907 98.7107 140.895C98.7107 117.883 117.365 99.228 140.377 99.228C163.389 99.228 182.044 117.883 182.044 140.895ZM109.127 140.895C109.127 158.154 123.118 172.145 140.377 172.145C157.636 172.145 171.627 158.154 171.627 140.895C171.627 123.636 157.636 109.645 140.377 109.645C123.118 109.645 109.127 123.636 109.127 140.895Z" fill="white"/>
                      <path opacity="0.1" d="M198.711 140.895C198.711 173.111 172.594 199.228 140.377 199.228C108.161 199.228 82.0439 173.111 82.0439 140.895C82.0439 108.678 108.161 82.5615 140.377 82.5615C172.594 82.5615 198.711 108.678 198.711 140.895ZM92.4743 140.895C92.4743 167.351 113.921 188.798 140.377 188.798C166.833 188.798 188.28 167.351 188.28 140.895C188.28 114.439 166.833 92.9919 140.377 92.9919C113.921 92.9919 92.4743 114.439 92.4743 140.895Z" fill="white"/>
                      <path d="M140.377 87.7769C140.377 84.8966 142.717 82.5375 145.586 82.7946C157.776 83.8871 169.364 88.7939 178.664 96.8847C189.281 106.121 196.201 118.883 198.149 132.82C200.097 146.757 196.941 160.928 189.264 172.721C181.586 184.514 169.905 193.134 156.372 196.993C142.839 200.851 128.368 199.688 115.625 193.717C102.883 187.746 92.7285 177.37 87.0338 164.501C81.3392 151.633 80.4883 137.14 84.6379 123.693C88.2729 111.915 95.5306 101.635 105.312 94.2776C107.613 92.5462 110.845 93.3168 112.364 95.764V95.764C113.883 98.2111 113.11 101.405 110.842 103.181C103.183 109.178 97.4972 117.396 94.6045 126.769C91.1968 137.811 91.8956 149.713 96.572 160.28C101.248 170.848 109.587 179.368 120.051 184.272C130.515 189.175 142.399 190.131 153.512 186.962C164.625 183.794 174.218 176.715 180.523 167.03C186.827 157.346 189.419 145.708 187.819 134.264C186.219 122.819 180.537 112.339 171.818 104.754C164.417 98.3156 155.252 94.3325 145.582 93.2756C142.719 92.9627 140.377 90.6572 140.377 87.7769V87.7769Z" fill="white"/>
                      <path opacity="0.1" d="M165.377 140.895C165.377 154.702 154.184 165.895 140.377 165.895C126.57 165.895 115.377 154.702 115.377 140.895C115.377 127.088 126.57 115.895 140.377 115.895C154.184 115.895 165.377 127.088 165.377 140.895ZM125.377 140.895C125.377 149.179 132.093 155.895 140.377 155.895C148.661 155.895 155.377 149.179 155.377 140.895C155.377 132.611 148.661 125.895 140.377 125.895C132.093 125.895 125.377 132.611 125.377 140.895Z" fill="white"/>
                      <path d="M140.377 120.895C140.377 118.134 142.638 115.845 145.344 116.393C147.875 116.906 150.322 117.811 152.593 119.083C156.325 121.173 159.458 124.185 161.693 127.833C163.928 131.48 165.19 135.639 165.358 139.914C165.526 144.188 164.594 148.434 162.652 152.245C160.71 156.056 157.823 159.305 154.267 161.682C150.71 164.058 146.603 165.482 142.339 165.818C138.074 166.154 133.795 165.389 129.911 163.599C127.547 162.509 125.377 161.061 123.474 159.315C121.44 157.448 121.963 154.274 124.197 152.651V152.651C126.431 151.028 129.53 151.617 131.795 153.197C132.519 153.702 133.289 154.145 134.097 154.517C136.428 155.592 138.996 156.05 141.554 155.849C144.113 155.647 146.577 154.793 148.711 153.367C150.845 151.941 152.577 149.992 153.742 147.705C154.908 145.418 155.466 142.871 155.366 140.306C155.265 137.742 154.508 135.246 153.167 133.058C151.826 130.869 149.946 129.062 147.707 127.808C146.93 127.373 146.12 127.01 145.285 126.721C142.676 125.817 140.377 123.656 140.377 120.895V120.895Z" fill="white"/>
                      <path d="M140.377 104.436C140.377 101.56 142.718 99.1945 145.572 99.5532C151.972 100.357 158.123 102.64 163.526 106.25C170.378 110.829 175.718 117.336 178.872 124.95C182.026 132.563 182.851 140.941 181.243 149.024C179.635 157.106 175.667 164.53 169.84 170.358C164.013 176.185 156.588 180.153 148.506 181.761C140.423 183.369 132.046 182.543 124.432 179.39C116.818 176.236 110.311 170.896 105.733 164.043C102.123 158.641 99.8398 152.49 99.0356 146.09C98.6769 143.236 101.042 140.895 103.919 140.895V140.895C106.795 140.895 109.083 143.242 109.56 146.079C110.29 150.415 111.929 154.568 114.394 158.256C117.828 163.395 122.708 167.401 128.418 169.766C134.129 172.131 140.412 172.75 146.474 171.544C152.536 170.338 158.104 167.362 162.474 162.992C166.845 158.621 169.821 153.053 171.027 146.991C172.232 140.929 171.614 134.646 169.248 128.936C166.883 123.226 162.878 118.345 157.739 114.911C154.051 112.447 149.897 110.807 145.562 110.078C142.725 109.601 140.377 107.313 140.377 104.436V104.436Z" fill="white"/>
                      <defs>
                      <filter id="filter0_b_106_617" x="23.0439" y="23.5615" width="234.667" height="234.667" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                      <feGaussianBlur in="BackgroundImage" stdDeviation="12"/>
                      <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_106_617"/>
                      <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_106_617" result="shape"/>
                      </filter>
                      <linearGradient id="paint0_linear_106_617" x1="152.3" y1="24.228" x2="263.895" y2="61.7974" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#54CEEC"/>
                      <stop offset="1" stop-color="#599CF6"/>
                      </linearGradient>
                      <linearGradient id="paint1_linear_106_617" x1="140.377" y1="47.5615" x2="140.377" y2="234.228" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#2F80ED"/>
                      <stop offset="1" stop-color="#2D9CDB"/>
                      </linearGradient>
                      <linearGradient id="paint2_linear_106_617" x1="233.711" y1="47.5615" x2="66.4484" y2="185.668" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white"/>
                      <stop offset="0.338542" stop-color="white" stop-opacity="0"/>
                      <stop offset="1" stop-color="white" stop-opacity="0.1"/>
                      </linearGradient>
                      </defs>
                      </svg>


                .swiper-slide 
                  .roles__card
                    .roles__card-content
                      ul
                        li Купить книгу онлайн
                        li Найти библиотеку или книжный магазин
                        li Вступить в литературное сообщество
                        li Узнать о пунктах приема книг
                        li Посетить литературные города
                      span.roles__card-label И ещё более 47 потребностей
                    .roles__card-icon 
                      <svg viewBox="0 0 281 281" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g filter="url(#filter0_b_106_703)">
                        <rect x="105.377" y="199.229" width="163.333" height="116.667" rx="24" transform="rotate(-90 105.377 199.229)" fill="url(#paint0_linear_106_703)"/>
                        </g>
                        <g filter="url(#filter1_b_106_703)">
                        <path d="M82.7104 245.895C69.4556 245.895 58.7104 235.15 58.7104 221.895L58.7104 83.2284C58.7104 69.9735 69.4556 59.2283 82.7104 59.2283H158.71C180.802 59.2283 198.71 77.137 198.71 99.2283V221.895C198.71 235.15 187.965 245.895 174.71 245.895H82.7104Z" fill="url(#paint1_linear_106_703)" fill-opacity="0.24"/>
                        <path d="M59.2104 221.895L59.2104 83.2284C59.2104 70.2497 69.7318 59.7283 82.7104 59.7283H158.71C180.526 59.7283 198.21 77.4131 198.21 99.2283V221.895C198.21 234.874 187.689 245.395 174.71 245.395H82.7104C69.7318 245.395 59.2104 234.874 59.2104 221.895Z" stroke="url(#paint2_linear_106_703)"/>
                        </g>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M85.5437 96.5618V70.8964V59.2285H104.21V96.5618L94.8778 89.2295L85.5437 96.5618ZM100.71 126.895C98.133 126.895 96.0437 128.985 96.0437 131.562C96.0437 134.139 98.133 136.229 100.71 136.229H156.71C159.288 136.229 161.377 134.139 161.377 131.562C161.377 128.985 159.288 126.895 156.71 126.895H100.71ZM96.0437 152.562C96.0437 149.985 98.133 147.895 100.71 147.895H156.71C159.288 147.895 161.377 149.985 161.377 152.562C161.377 155.139 159.288 157.229 156.71 157.229H100.71C98.133 157.229 96.0437 155.139 96.0437 152.562ZM100.71 168.895C98.133 168.895 96.0437 170.985 96.0437 173.562C96.0437 176.139 98.133 178.229 100.71 178.229H128.71C131.288 178.229 133.377 176.139 133.377 173.562C133.377 170.985 131.288 168.895 128.71 168.895H100.71Z" fill="white"/>
                        <defs>
                        <filter id="filter0_b_106_703" x="81.3772" y="11.895" width="164.667" height="211.333" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feGaussianBlur in="BackgroundImage" stdDeviation="12"/>
                        <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_106_703"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_106_703" result="shape"/>
                        </filter>
                        <filter id="filter1_b_106_703" x="34.7104" y="35.2285" width="188" height="234.667" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feGaussianBlur in="BackgroundImage" stdDeviation="12"/>
                        <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_106_703"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_106_703" result="shape"/>
                        </filter>
                        <linearGradient id="paint0_linear_106_703" x1="105.825" y1="199.229" x2="283.73" y2="283.079" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#54CEEC"/>
                        <stop offset="1" stop-color="#599CF6"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear_106_703" x1="58.7104" y1="152.562" x2="198.71" y2="152.562" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#2F80ED"/>
                        <stop offset="1" stop-color="#2D9CDB"/>
                        </linearGradient>
                        <linearGradient id="paint2_linear_106_703" x1="198.71" y1="59.2283" x2="58.7104" y2="245.895" gradientUnits="userSpaceOnUse">
                        <stop stop-color="white"/>
                        <stop offset="0.338542" stop-color="white" stop-opacity="0"/>
                        <stop offset="1" stop-color="white" stop-opacity="0.1"/>
                        </linearGradient>
                        </defs>
                        </svg>


                .swiper-slide
                  .roles__card
                    .roles__card-content
                      ul
                        li Посмотреть афишу мероприятий
                        li Открыть карту популярных мест СПб
                        li Забронировать обзорную экскурсию
                        li Купить билет в музей онлайн
                        li Узнать подробности об истории развития города
                      span.roles__card-label И ещё более 28 потребностей
                    .roles__card-icon
                      <svg viewBox="0 0 281 281" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g filter="url(#filter0_b_106_789)">
                        <path d="M83.4549 111.239C86.1652 105.819 91.7054 102.395 97.7657 102.395H182.989C189.049 102.395 194.589 105.819 197.299 111.239L230.905 178.45C237.554 191.748 227.884 207.395 213.017 207.395H67.7379C52.8702 207.395 43.2003 191.748 49.8493 178.45L83.4549 111.239Z" fill="url(#paint0_linear_106_789)"/>
                        </g>
                        <g filter="url(#filter1_b_106_789)">
                        <path d="M163.945 157.195C150.529 140.695 120.69 100.704 120.69 78.241C120.69 50.9873 142.783 28.8945 170.036 28.8945C197.279 28.8945 219.383 50.9873 219.383 78.241C219.383 100.704 189.312 140.695 176.127 157.195C172.966 161.128 167.106 161.128 163.945 157.195V157.195ZM170.036 94.6898C179.109 94.6898 186.485 87.3135 186.485 78.241C186.485 69.1684 179.109 61.7922 170.036 61.7922C160.964 61.7922 153.587 69.1684 153.587 78.241C153.587 87.3135 160.964 94.6898 170.036 94.6898Z" fill="url(#paint1_linear_106_789)" fill-opacity="0.24"/>
                        <path d="M164.333 156.88C157.632 148.639 146.833 134.535 137.712 119.692C133.152 112.271 129.016 104.674 126.023 97.5403C123.026 90.3982 121.19 83.759 121.19 78.241C121.19 51.2635 143.059 29.3945 170.036 29.3945C197.003 29.3945 218.883 51.2636 218.883 78.241C218.883 83.7583 217.033 90.397 214.017 97.5393C211.006 104.673 206.849 112.27 202.274 119.692C193.124 134.534 182.324 148.639 175.737 156.883C172.776 160.565 167.296 160.565 164.335 156.882L163.945 157.195L164.333 156.88ZM170.036 95.1898C179.385 95.1898 186.985 87.5897 186.985 78.241C186.985 68.8923 179.385 61.2922 170.036 61.2922C160.687 61.2922 153.087 68.8923 153.087 78.241C153.087 87.5897 160.687 95.1898 170.036 95.1898Z" stroke="url(#paint2_linear_106_789)"/>
                        </g>
                        <defs>
                        <filter id="filter0_b_106_789" x="23.7122" y="78.3945" width="233.33" height="153" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feGaussianBlur in="BackgroundImage" stdDeviation="12"/>
                        <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_106_789"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_106_789" result="shape"/>
                        </filter>
                        <filter id="filter1_b_106_789" x="96.6897" y="4.89453" width="146.693" height="179.25" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feGaussianBlur in="BackgroundImage" stdDeviation="12"/>
                        <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_106_789"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_106_789" result="shape"/>
                        </filter>
                        <linearGradient id="paint0_linear_106_789" x1="35.9527" y1="102.395" x2="228.299" y2="231.904" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#54CEEC"/>
                        <stop offset="1" stop-color="#599CF6"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear_106_789" x1="170.036" y1="28.8945" x2="170.036" y2="160.145" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#2F80ED"/>
                        <stop offset="1" stop-color="#2D9CDB"/>
                        </linearGradient>
                        <linearGradient id="paint2_linear_106_789" x1="120.69" y1="160.145" x2="143.176" y2="-1.78937" gradientUnits="userSpaceOnUse">
                        <stop stop-color="white"/>
                        <stop offset="0.760417" stop-color="white" stop-opacity="0"/>
                        <stop offset="1" stop-color="white" stop-opacity="0.1"/>
                        </linearGradient>
                        </defs>
                      </svg>

              

              .roles__nav-button.roles__nav-button_prev(data-entity="roles-slider-prev")
              .roles__nav-button.roles__nav-button_next(data-entity="roles-slider-next")   

          .roles__link
            span Больше социальных ролей в приложении!
            a(href="#download") Скачать
  section.frame.frame_type_search.frame_bg_light(data-entity="frame" data-page-index="3")
    .frame__container
      .frame__title.frame__title_sm
        h2 Находить актуальное просто

      .frame__desc
        p Возможности умного поиска позволяют находить лучшие места притяжения Петербурга. Мобильное приложение станет вашим цифровым гидом!

      .frame__content 
        .search
          .search__inner
            .search__field
              span.search__field-title Найдите места, события, сервисы...
            .search__button
              span.search__button-icon
              span.search__button-title Искать

        .search-results
          .search-results__items
            .search-results__item
              .search-results__item-content
                span.search-results__item-icon 
                p Информация о культурной жизни Петербурга
            .search-results__item
              .search-results__item-content
                span.search-results__item-icon 
                p Афиша актуальных событий          
            .search-results__item
              .search-results__item-content
                span.search-results__item-icon 
                p Популярные и неизвестные места           

  section.frame(data-entity="frame" data-page-index="4" style="background: linear-gradient(180deg, #51ABFF 0%, #1A5DB8 100%)")
    .security
      .frame__container
        .security__container
          .security__pic
          .security__desc
            h2 
              span.security__icon
              | ВЫ В
              br
              |БЕЗОПАСНОСТИ
            p
              | Приложение Городских Сервисов – это новый подход к вопросам личной безопасности.
              br
              br
              | В специальном разделе вы узнаете информацию о правилах поведения в непредвиденных ситуациях и ЧП, получите рекомендации для их предотвращения

            a(href="#download") Попробовать

  section#download.frame.app(data-entity="frame" data-page-index="5" style="background: linear-gradient(180deg, #1A5DB8 0%, #002961 100%);")
    .frame__container
      .app__row
        .app__info
          .app__desc
            p Станьте жителем современного Петербурга! С нами возможно будущее. 
            h2 Скачайте приложение

          .app__links-wrapper
            .app__links
              a(href="#").app__link.app__link_appstore
              a(href="#").app__link.app__link_gplay
              a(href="#").app__link.app__link_rustore
              a(href="#").app__link.app__link_rumarket                                               

        .app__pic
          +img({
            path: '/app.png',
          })

          .app__code
            +img({
              path: '/app-code.png',
            })

  footer.footer
    .rights
      span Санкт-Петербург
      span 2022 г.
