@import '@template/css/mixins/media.scss';
@import '@template/css/mixins/effects.scss';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;

  background: rgba(0, 0, 0, 0.5);
  transition: 0.2s ease-in-out;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: auto;
  }

  &__box {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 80px 40px 40px;
    background: linear-gradient(180deg, #1A5DB8 0%, #002961 100%), #FFFFFF;

    @include media(sm) {
      width: 640px;
      height: unset;
      padding: 120px;
      border-radius: 40px;
    }
  }

  &__header {
    position: relative;
  }

  &__close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 56px;
    height: 56px;
    padding: 0;
    background: none;
    border: none;
    text-decoration: none;

    @include media(sm) {
      top: 16px;
      right: 16px;
    }

    @include defaultInteractionEffect;
  }

  &__frame {
    height: 100%;
  }

  &__frame_hidden {
    display: none;
  }

  &__pic-box {
    width: 120px;
    min-height: 120px;
    margin: 0 auto 48px;
    position: relative;
  }

  &__pic {
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='0 0 120 120' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M22.2456 0C10.1133 0 0.278076 9.8619 0.278076 22.0272V97.6989C0.278076 109.864 10.1132 119.726 22.2456 119.726H97.7122C109.845 119.726 119.68 109.864 119.68 97.6989V22.0272C119.68 9.8619 109.845 0 97.7122 0L22.2456 0Z' fill='%23178BF6'/%3E%3Cpath d='M27.0466 82.9064C26.8987 82.4819 26.8228 82.0355 26.8222 81.5858V67.4434C26.8222 66.3623 27.2504 65.3256 28.0128 64.5611C28.7751 63.7967 29.8091 63.3673 30.8872 63.3673C31.9653 63.3673 32.9993 63.7967 33.7616 64.5611C34.524 65.3256 34.9522 66.3623 34.9522 67.4434V79.6521L42.1067 76.7173C41.783 76.2162 41.5732 75.6498 41.4924 75.0583C41.4116 74.4667 41.4616 73.8646 41.6391 73.2947C41.8165 72.7248 42.1169 72.201 42.5189 71.7606C42.921 71.3202 43.4148 70.974 43.9653 70.7466C44.5159 70.5191 45.1096 70.416 45.7044 70.4446C46.2991 70.4732 46.8803 70.6328 47.4066 70.912C47.9329 71.1912 48.3914 71.5832 48.7496 72.0602C49.1078 72.5371 49.3569 73.0873 49.4791 73.6716L56.0579 70.9586V67.4434C56.0878 66.3844 56.5284 65.3789 57.2859 64.6405C58.0435 63.9021 59.0584 63.489 60.1149 63.489C61.1714 63.489 62.1862 63.9021 62.9438 64.6405C63.7013 65.3789 64.1419 66.3844 64.1718 67.4434V70.9358L70.7506 73.6521C70.8738 73.0686 71.1234 72.5195 71.4819 72.0436C71.8403 71.5677 72.2987 71.1767 72.8246 70.8983C73.3506 70.6199 73.9311 70.4608 74.5252 70.4325C75.1193 70.4041 75.7123 70.5072 76.2622 70.7342C76.8121 70.9613 77.3055 71.3069 77.7074 71.7465C78.1093 72.1861 78.4098 72.709 78.5877 73.2781C78.7655 73.8471 78.8164 74.4484 78.7367 75.0394C78.6569 75.6304 78.4485 76.1965 78.1262 76.6977L85.2807 79.6325V67.4434C85.2807 66.3649 85.708 65.3306 86.4685 64.5681C87.229 63.8055 88.2605 63.3771 89.336 63.3771C90.4115 63.3771 91.443 63.8055 92.2035 64.5681C92.964 65.3306 93.3913 66.3649 93.3913 67.4434V81.5858C93.3887 82.0297 93.314 82.4703 93.1701 82.8901L116.516 92.526V22.2151C116.516 19.7572 116.032 17.3235 115.093 15.0532C114.154 12.7829 112.777 10.7206 111.042 8.98431C109.307 7.24797 107.248 5.87167 104.982 4.93414C102.716 3.99661 100.288 3.51625 97.8368 3.52054H22.3896C19.9391 3.51711 17.5119 3.99813 15.2469 4.93608C12.982 5.87404 10.9236 7.25052 9.18959 8.98682C7.45559 10.7231 6.07996 12.7851 5.14139 15.055C4.20282 17.3248 3.71972 19.7579 3.71973 22.2151V92.5358L27.0466 82.9064ZM89.2937 51.726C90.0958 51.726 90.8798 51.9645 91.5467 52.4113C92.2136 52.8581 92.7334 53.4932 93.0403 54.2362C93.3472 54.9792 93.4276 55.7968 93.2711 56.5856C93.1146 57.3744 92.7284 58.0989 92.1612 58.6676C91.5941 59.2363 90.8715 59.6236 90.0849 59.7805C89.2982 59.9374 88.4828 59.8568 87.7418 59.5491C87.0008 59.2413 86.3675 58.7201 85.9219 58.0514C85.4763 57.3827 85.2384 56.5965 85.2384 55.7923C85.2384 55.2583 85.3433 54.7295 85.5471 54.2362C85.7509 53.7428 86.0496 53.2946 86.4262 52.917C86.8028 52.5394 87.2498 52.2399 87.7418 52.0355C88.2338 51.8312 88.7612 51.726 89.2937 51.726ZM74.6888 33.0184C75.4918 33.0177 76.2769 33.2559 76.9449 33.7029C77.6128 34.1498 78.1335 34.7853 78.4411 35.5291C78.7486 36.2728 78.8293 37.0913 78.6728 37.8811C78.5163 38.6708 78.1297 39.3962 77.5619 39.9655C76.9941 40.5349 76.2707 40.9225 75.4831 41.0795C74.6955 41.2364 73.8792 41.1555 73.1375 40.8471C72.3957 40.5387 71.7619 40.0166 71.3162 39.3468C70.8705 38.6771 70.6329 37.8898 70.6336 37.0847C70.6336 36.0062 71.0608 34.9719 71.8213 34.2094C72.5818 33.4468 73.6133 33.0184 74.6888 33.0184ZM70.6336 48.739C70.6336 47.6606 71.0608 46.6263 71.8213 45.8637C72.5818 45.1011 73.6133 44.6727 74.6888 44.6727C75.7644 44.6727 76.7958 45.1011 77.5564 45.8637C78.3169 46.6263 78.7441 47.6606 78.7441 48.739V62.8781C78.7441 63.9566 78.3169 64.9909 77.5564 65.7535C76.7958 66.516 75.7644 66.9445 74.6888 66.9445C73.6133 66.9445 72.5818 66.516 71.8213 65.7535C71.0608 64.9909 70.6336 63.9566 70.6336 62.8781V48.739ZM60.0872 14.314C60.8891 14.3147 61.6729 14.5537 62.3393 15.0009C63.0058 15.4481 63.525 16.0834 63.8315 16.8265C64.1379 17.5695 64.2178 18.387 64.0609 19.1756C63.9041 19.9642 63.5176 20.6884 62.9503 21.2568C62.3831 21.8251 61.6605 22.2121 60.8739 22.3687C60.0873 22.5254 59.2721 22.4446 58.5313 22.1368C57.7905 21.8289 57.1573 21.3077 56.7119 20.6391C56.2664 19.9705 56.0287 19.1844 56.0287 18.3803C56.0287 17.8461 56.1337 17.317 56.3377 16.8235C56.5417 16.3299 56.8407 15.8815 57.2176 15.5039C57.5945 15.1262 58.0419 14.8268 58.5343 14.6226C59.0267 14.4184 59.5544 14.3136 60.0872 14.314ZM56.0287 30.0314C56.0586 28.9725 56.4991 27.9669 57.2567 27.2285C58.0142 26.4901 59.0291 26.077 60.0856 26.077C61.1421 26.077 62.1569 26.4901 62.9145 27.2285C63.6721 27.9669 64.1126 28.9725 64.1425 30.0314V44.1738C64.1126 45.2327 63.6721 46.2383 62.9145 46.9767C62.1569 47.7151 61.1421 48.1282 60.0856 48.1282C59.0291 48.1282 58.0142 47.7151 57.2567 46.9767C56.4991 46.2383 56.0586 45.2327 56.0287 44.1738V30.0314ZM60.0872 51.726C60.8891 51.7266 61.6729 51.9657 62.3393 52.4129C63.0058 52.8601 63.525 53.4954 63.8315 54.2384C64.1379 54.9815 64.2178 55.799 64.0609 56.5876C63.9041 57.3761 63.5176 58.1004 62.9503 58.6687C62.3831 59.2371 61.6605 59.6241 60.8739 59.7807C60.0873 59.9373 59.2721 59.8566 58.5313 59.5487C57.7905 59.2409 57.1573 58.7197 56.7119 58.0511C56.2664 57.3824 56.0287 56.5964 56.0287 55.7923C56.0287 55.258 56.1337 54.729 56.3377 54.2354C56.5417 53.7419 56.8407 53.2934 57.2176 52.9158C57.5945 52.5382 58.0419 52.2387 58.5343 52.0346C59.0267 51.8304 59.5544 51.7255 60.0872 51.726ZM45.4791 33.0184C46.2821 33.0177 47.0672 33.2559 47.7351 33.7029C48.403 34.1498 48.9237 34.7853 49.2313 35.5291C49.5389 36.2728 49.6195 37.0913 49.463 37.8811C49.3065 38.6708 48.9199 39.3962 48.3521 39.9655C47.7844 40.5349 47.0609 40.9225 46.2733 41.0795C45.4857 41.2364 44.6694 41.1555 43.9277 40.8471C43.186 40.5387 42.5521 40.0166 42.1064 39.3468C41.6607 38.6771 41.4232 37.8898 41.4238 37.0847C41.4238 36.0062 41.851 34.9719 42.6116 34.2094C43.3721 33.4468 44.4036 33.0184 45.4791 33.0184ZM41.4238 48.739C41.4238 47.6606 41.851 46.6263 42.6116 45.8637C43.3721 45.1011 44.4036 44.6727 45.4791 44.6727C46.5546 44.6727 47.5861 45.1011 48.3466 45.8637C49.1071 46.6263 49.5344 47.6606 49.5344 48.739V62.8781C49.5344 63.9566 49.1071 64.9909 48.3466 65.7535C47.5861 66.516 46.5546 66.9445 45.4791 66.9445C44.4036 66.9445 43.3721 66.516 42.6116 65.7535C41.851 64.9909 41.4238 63.9566 41.4238 62.8781V48.739ZM30.8775 51.726C31.6795 51.726 32.4636 51.9645 33.1304 52.4113C33.7973 52.8581 34.3171 53.4932 34.624 54.2362C34.931 54.9792 35.0113 55.7968 34.8548 56.5856C34.6983 57.3744 34.3121 58.0989 33.745 58.6676C33.1778 59.2363 32.4552 59.6236 31.6686 59.7805C30.882 59.9374 30.0666 59.8568 29.3256 59.5491C28.5846 59.2413 27.9512 58.7201 27.5056 58.0514C27.06 57.3827 26.8222 56.5965 26.8222 55.7923C26.8222 54.7138 27.2494 53.6795 28.0099 52.917C28.7704 52.1544 29.8019 51.726 30.8775 51.726Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M116.354 94.8299L61.202 72.0645V116.575H97.7097C108.006 116.575 116.354 108.206 116.354 97.8808V94.8299ZM58.9876 116.575V72.0645L3.59912 94.9277V97.8808C3.59912 108.206 11.9463 116.575 22.243 116.575H58.9876Z' fill='white'/%3E%3C/svg%3E%0A");
  }

  &__icon {
    position: absolute;
    bottom: -16px;
    right: -16px;
    width: 56px;
    height: 56px;
  }

  &__title {
    margin: 0 0 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #FFFFFF;

    
    @include media(sm) {
      font-size: 32px;
      line-height: 38px;
    }
  }

  &__desc {
    margin: 0 0 48px;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: rgba(255, 255, 255, 0.8);

    @include media(sm) {
      font-size: 16px;
      line-height: 19px;
      text-align: left;
    }
  }

  input[type=text],
  input[type=email] {
    display: block;
    width: 100%;
    height: 64px;
    margin-bottom: 24px;
    box-sizing: border-box;
    padding: 18px 32px;
    background: none;
    border: 2px solid #599CF6;
    border-radius: 32px;


    font-family: inherit;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #599CF6;

    outline: none;

    &::placeholder {
      color: #599CF6;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
    }

    
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 64px;
    background: #fff;
    border: none;
    border-radius: 32px;
    margin-top: auto;

    font-family: inherit;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: #1A5CB6;

    @include defaultInteractionEffect;
  }

  &__content,
  &__message {
    display: flex;
    flex-direction: column;
    height: 100%;

    @include media(sm) {
      align-items: center;
    }
  }

  &__form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__form &__button {
    @include media(sm) {
      margin-top: 24px;
    }
  }

  &__message {
    justify-content: center;

    @include media(sm) {
      justify-content: unset; 
    }
  }

  &__message &__title {
    margin-bottom: 48px;
  }
}

.modal_bg_transparent {
  background: none;
}

.modal_hidden {
  opacity: 0;
  pointer-events: none;
}

.modal_shown {
  opacity: 1;
  pointer-events: all;
}
