include /utils/pug/img.pug

mixin NewsListComponent()
  <div class="component">
    <h1>Пример</h1>
    +img({
      defaultPic: {
        path: '/temp/hedgehogs.jpg',
        alt: 'Ежик',
      },
      pics: [{
        defaultPath: '/temp/hedgehogs.jpg',
        defaultType: 'image/jpeg',
        webpPath: '/temp/hedgehogs.webp',
        media: '',
      }],
      wrapperClasses: '',
      elementClasses: '',
    })
  </div>
