@import '@template/css/mixins/media.scss';
@import '@template/css/mixins/effects.scss';

.rights {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0 8px;
  border-top: 1px solid  #ffffff14;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #BDBDBD;

  @include media(sm) {
    padding-bottom: 80px;
  }

  @include media(l) {
    font-size: 16px;
    line-height: 19px;
  }
}
