@import '@template/css/vars.scss';

html {
  font-family: $defaultFontFamily;
  font-size: $defaultFontSize;
  line-height: $defaultLineHeight;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

img{
  image-rendering: -webkit-optimize-contrast;
}

footer {
  margin-top: auto;
}